{% extends "bootstrap/base.html" %}
{% block title %}Index{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Agregator</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Main</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<div class="container">
{% block content %}
    <h1>Here will be best agregator</h1>
<ul>
{% for company in companies %}
    <li><a href="{{ company['link'] }}"> {{ company['name'] }} </a></li>
    {% endfor %}
</ul>
{% endblock %}
</div>